<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooee.wallpaper.garden"
    android:versionCode="22"
    android:versionName="0.01.0530" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="MainActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.cooee.wallpaper.garden.WallpaperService"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:enabled="true"
            android:label="@string/service_name"
            android:launchMode="singleTask"
            android:permission="android.permission.BIND_WALLPAPER" >

            <!-- 允许动态壁纸的权限 -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
    </application>

</manifest>