<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{802,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{802,142}}</string>
                <key>sourceSize</key>
                <string>{802,142}</string>
            </dict>
            <key>blackDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,2041},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1761},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1664},{514,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,69}}</string>
                <key>sourceSize</key>
                <string>{516,69}</string>
            </dict>
            <key>ninja0_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1891},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja0_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1839},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja0_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1735},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja10_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1787},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja10_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1891},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja10_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1839},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja1_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1590},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ninja1_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1735},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja1_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1787},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja1_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1891},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja2_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1759},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ninja2_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1839},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja2_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1735},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja2_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1787},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja3_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1685},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ninja3_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1891},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja3_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1839},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja3_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1735},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja4_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1911},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ninja4_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1787},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja4_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1891},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja4_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1839},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja5_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1837},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ninja5_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1735},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja5_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1787},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja5_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1891},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja6_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1911},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ninja6_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1839},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja6_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1735},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja6_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1787},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja7_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1837},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>ninja7_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1735},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja7_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1590},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja7_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1590},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja8_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1590},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja8_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1590},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja8_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1590},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja9_step0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1590},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja9_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1590},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>ninja9_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1590},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>playgames.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1685},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>selector.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1787},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>spike.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1905},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>spike_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1833},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1985},{602,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,54}}</string>
                <key>sourceSize</key>
                <string>{602,54}</string>
            </dict>
            <key>updown.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{802,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{802,602}}</string>
                <key>sourceSize</key>
                <string>{802,602}</string>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,1442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,1442}}</string>
                <key>sourceSize</key>
                <string>{44,1442}</string>
            </dict>
            <key>whiteDot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2041},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8158ab6b185b04b819a701fadfdd5b29:92f748ac0a01faea493312d86940e422:1abd9b1a32dd92fa37ae3f420f34f475$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
